* {
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    background-color: darkslategray;
    color: white;
}

#section-one {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#section-one p {
    font-size: 18px;
    margin-right: 300px;
    font-weight: bold;
}

#section-one nav a {
    font-size: 12px;
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

#section-two {
    height: 270px;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#section-two h2 {
    font-size: 30px;
}

#section-two p {
    margin: 0 300px 55px 300px;
}

#section-three {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#section-three p {
    margin-right: 70px;
}

#section-three button {
    margin-left: 7px;
    height: 24px;
    font-size: small;
    background-color: darkgoldenrod;
    color: white;
    font-weight: bold;
}

#section-four {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#section-five {
    margin-top: 55px;
    background-color: darkslategray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}